/* iPad (portrait) */

@media (min-width: 320px) and (max-width: 579px) {
    .modal-body {
        width: 320px;
    }
    .menu {
        display: none;
    }
    .menu-media {
        display: block;
    }
    .start-page {
        width: 100%;
        height: 650px;
    }
    .start-page,
    .start-page .opacity {
        height: 650px;
    }
    .start-page .content {
        width: 80%;
        margin: 0 auto;
    }
    h1 {
        font-size: 36px;
    }
    .about-us h1 {
        margin-top: 0;
    }
    .about-us {
        width: 85%;
    }
    .about-us .column-one,
    .about-us .column-two {
        width: 100%;
        margin-bottom: 10%;
        margin-top: 10%;
    }
    .portfolio .portfolio-margin {
        width: 85%;
    }
    .start-page .content {
        width: 100%;
    }
    .start-page .content .text {
        width: 60%;
    }
    /*.partners .logo {
        width: 300px;
    }
    .partners .logo img {
        width: 80px;
    }*/
    .contact {
        width: 100%;
    }
    .contact .content {
        width: 85%;
    }
    .contact .content .form {
        width: 100%;
    }
    .contact .content .contact-text {
        padding-left: 0px;
        width: 100%;
        text-align: center;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .footer .margin {
        width: 100%;
    }
    .footer .margin .copyright {
        width: 85%;
        font-size: 12px;
        text-align: center;
    }
    .modal-content {
        position: relative;
        float: left;
        width: 30px;
    }
}


/* iPad (portrait) */

@media (min-width: 580px) and (max-width: 767px) {
    .modal {
        padding-top: 0px;
    }
    .modal-body {
        width: 400px;
    }
    .menu {
        display: none;
    }
    .menu-media {
        display: block;
    }
    /*aqui*/
    .menu-media .menu-content {
        width: 80%;
    }
    /*aqui*/
    .start-page {
        width: 100%;
        height: 650px;
        margin: 0 auto;
    }
    .start-page,
    .start-page .opacity {
        height: 650px;
    }
    .start-page .content {
        width: 80%;
    }
    h1 {
        font-size: 56px;
    }
    .about-us h1 {
        margin-top: 0;
    }
    .about-us {
        width: 90%;
    }
    /*.about-us hr,
    .portfolio .portfolio-margin hr,
    .contact hr {
        width: 200px;
    }*/
    .about-us .column-one,
    .about-us .column-two {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 5%;
        margin-top: 5%;
    }
    .portfolio .portfolio-margin {
        width: 80%;
        margin: 0 auto;
    }
    .partners .content {
        width: 100%;
    }
    /*.partners .logo {
        width: 300px;
    }
    .partners .logo img {
        width: 80px;
    }*/
    .contact,
    .contact .content {
        width: 90%;
        margin: 0 auto;
    }
    .contact .content .form {
        width: 100%;
        margin: 5% auto;
    }
    .contact .content .contact-text {
        padding-left: 0px;
        width: 100%;
        text-align: center;
        margin-bottom: 5%;
    }
    .footer .margin {
        width: 100%;
    }
    .footer .margin .copyright {
        width: 80%;
        font-size: 12px;
        text-align: center;
    }
}


/* iPad (portrait) */

@media (min-width: 768px) and (max-width: 1023px) {
    .menu-content .logo {
        width: 200px;
    }
    .menu-content {
        width: 800px;
    }
    .about-us {
        width: 90%;
    }
    .portfolio .portfolio-margin {
        width: 80%;
    }
    .partners .content {
        width: 80%;
    }
    .partners .logo {
        width: 100%;
    }
    .contact {
        width: 80%;
    }
    .contact .content {
        width: 100%;
    }
    .contact .content .form {
        width: 50%;
    }
    .contact .content .contact-text {
        width: 40%;
    }
    .footer .margin {
        width: 100%;
    }
    .footer .margin .copyright {
        width: 80%;
        font-size: 13px;
        text-align: center;
    }
}